
.vs/ChessMobileBE/config/applicationhost.config
.vs/ChessMobileBE/DesignTimeBuild/.dtbcache.v2
.vs/ChessMobileBE/FileContentIndex/03db10bb-25ef-4c89-b2ff-89b2d1af81c6.vsidx
.vs/ChessMobileBE/FileContentIndex/2ede4a61-1096-4bdb-a5d6-d4c68db9dab3.vsidx
.vs/ChessMobileBE/FileContentIndex/30157f29-aa71-452b-94c9-a76b3fd230ca.vsidx
.vs/ChessMobileBE/FileContentIndex/a7aa17c0-93a6-4570-bfaf-b34ff8d054f8.vsidx
.vs/ChessMobileBE/FileContentIndex/be14d9f4-b7c5-462d-bbe2-1dff78a56847.vsidx
.vs/ChessMobileBE/FileContentIndex/c6d886f2-b448-44c2-a73d-ef98f9c8a38d.vsidx
.vs/ChessMobileBE/FileContentIndex/db937257-c778-4682-9193-18059fb8d863.vsidx
.vs/ChessMobileBE/FileContentIndex/eb714d65-b2d0-47c8-a973-ed3c404f7715.vsidx
.vs/ChessMobileBE/v17/.suo
